body {
    font-size: 35px;
    font-family: "Montserrat";
    background-color: #1e1f23;
    color: #fbfffc;
}


.modal {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease 0s;
}

.modal:target {
    visibility: visible;
    opacity: 1;

}

.modal__window {
    position: relative;
    z-index: 2;
    width: 400px;
    height: 650px;

    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.1px);
    -webkit-backdrop-filter: blur(15.1px);
    border: 1px solid rgba(255, 255, 255, 0.63);
    padding: 40px;
}

ul.modal__nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.modal__nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}



.modal__link {
    color: #ff2972;
    font-size: 25px;
    margin-left: 20px;
    text-decoration: none;
}

.mail-icon {
    margin-right: 5px;
}

.telefon-icon {
    margin-right: 10px;
}

.btn-close {
    color: #ff2972;
    ;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    opacity: 0.5;
}

.btn-close:hover {
    opacity: 2;
}


.ref__main {
    border: 2px solid #fea600;
    border-radius: 5px;
    color: #fbfffc;
    text-decoration: none;


}

.ref__main:hover {
    transition: 0;
    background: var(--clr);
    color: #333;
    box-shadow: 0 0 10px var(--clr),
        0 0 30px var(--clr),
        0 0 50px var(--clr);
}

.ref__style {
    margin-top: 15px;
}

.title{ 
    color: #ff2972;
    margin: 0;
}
.text{
font-size: 25px;
}
.pre-text{
font-size: 20px;
}
.text-span{
font-size: 20px;
margin-right: 6px;
color: #fea600;
}